<% include ./partials/header%>

<div class='container'>
	
	<div class='row'>
			<h1 style ="text-align:center; color:antiquewhite; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
			Login
		</h1>
		<div style='width: 25%; margin:25px auto;'>
			<form action='/login' method ='post'>
				<input class ='form-control' style= "width: 300px;" type= 'text' name='username' placeholder='username'>
				<input class ='form-control' style= "width: 300px;" type= 'password' name='password' placeholder='password'>
				<button class ='btn btn-lg btn-default btn-block btn-primary' style= "width: 300px; margin:0 0 5px 0;" onclick="this.form.submit(); this.disabled = true;">
					Login
				</button>
			</form>
			<a href='/campgrounds'>Go back</a>
			
		</div>
	</div>
</div>


<% include ./partials/footer%>