body { 
	background-color: rgb(3, 0, 32);
	/* background: url("https://images.unsplash.com/photo-1557683304-673a23048d34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=243&q=80") no-repeat center center fixed;  */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

.thumbnail img{
	width: 100%;
	padding:0;
}

.col-md-9 .thumbnail{
	padding: 0;
}

.thumbnail .caption-full{
	padding: 9px;
}

.thumbnail h4{
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.username{
	font-size: 1.5em;
	color: rgb(247, 191, 247);
}

.delete-form{
	display:inline;
}

.jumbotron{
	background-color: transparent;
	margin: 10px;
	border: 0px;
	text-align: center;
}

.btn-primary{
	background-color: rgb(141, 118, 243);
	border: none;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.jumbotron p{
	color: rgb(229, 236, 245);
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.jumbotron h2{
	color: rgb(229, 236, 245);
	font-weight: bold;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.jumbotron .btn-info{
	background-color: rgb(167, 189, 238);
	color: rgb(3, 0, 32);
	width: 280px;
}

.navbar{
	background-color: transparent;
	border: none;
	font-weight: bold;
	margin: 0;
}

.navbar-header .navbar-brand{
	color: rgb(229, 236, 245)!important;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.no-match{
	color: rgb(245, 244, 253);
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}


.form-control{
	margin: 5px auto;
}


/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}