

body { 
	background: url("https://images.unsplash.com/photo-1499937405357-13aa5449e360?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

.thumbnail img{
	width: 100%;
	padding:0;
}

.col-md-9 .thumbnail{
	padding: 0;
}

.thumbnail .caption-full{
	padding: 9px
}

.username{
	font-size: 1.5em;
	color: purple;
}

.delete-form{
	display:inline;
}

.jumbotron{
	background-color: rgb(149, 239, 255);
	margin: 10px;
	border: 0;
}

.btn-primary{
	background-color: rgb(20, 216, 230);
	border: none;
}

.jumbotron p{
	color: rgb(58, 2, 2);
}

.jumbotron h2{
	color: rgb(58, 2, 2);
	font-weight: bold;
}

.navbar{
	color: rgb(37, 106, 163) !important;
	background-color:transparent;
	border: none;
	font-weight: bold;
	
}

.no-match{
	color: black;
	font-weight: bold;
	font-size: 1.5em;
}

.form-control{
	margin: 5px auto;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}